@using Begonia.Toyota.WebSite.Enums
@model Begonia.Toyota.WebSite.Models.ProductInfoListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string CurrentController = string.Empty;
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        CurrentController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}


<script>
    function orderBy() {
        var arr = {
            data: []
        };
        var index = 0;
        var len = $('#table1 tr').length;
        $("#table1").find('tr').each(function () {
            index++;
            if ((index != 1) && (index != len)) {
                var $tds = $(this).find('td');
                var key = $(this).find("td:eq(5) input[type='hidden']").val();
                var value = $(this).find("td:eq(5) input[type='text']").val();
                arr.data.push({ key: key, value: value });
            }
        });
        $.post("/Base/reOrder", { para: JSON.stringify(arr), fn: "ProductInfo" }, function (result) {
            if (result.isSuccess = true) {
                alert("修改成功");
            } else {
                alert("修改失敗");
            }
        });
    }
</script>

<article class="BOX" id="CONTENT_1">
    @{
        Html.RenderPartial("_MenuPartial");
    }
    <article id="RIGHT_BOX" class="CONTENT_R">
        <article id="POS">
            您當前位置是：<a href="#">產品管理</a> > <a href="~/AUsedCarEngine/List">產品資訊</a> > <span class="NOW">新增</span>
        </article>
        <nav id="BOX_NAV">
        </nav>
        <section id="R_CONTENT_BOX">
            <article class="RBOX" id="R_CONTENT_1">
                @using (Html.BeginForm("List", CurrentController, FormMethod.Get, new {@class = "pure-form", id = "f1"}))
                {
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab1">
                        <tr>
                            <td width="14%" align="right" class="table1_title onn2">產品類型：</td>
                            <td width="86%" class="table1_text">
                                @Html.DropDownListFor(p => p.ProductType, Model.ProductTypeDropDownList, new { css = "t3" })
                            </td>
                        </tr>
                        <tr>
                            <td width="14%" align="right" class="table1_title onn2">引擎分類：</td>
                            <td width="86%" class="table1_text">
                                @Html.DropDownListFor(p => p.EngineId, Model.EngineDropDownList, new { css = "t3" })
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="table1_title onn2">產品名稱(系列)：</td>
                            <td class="table1_text">
                                @Html.TextBoxFor(p => p.Search, new {placeholder = "搜尋文字", @class = "t1"})
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="table1_title onn2">狀態：</td>
                            <td class="table1_text">
                                <input type="radio" name="SStatus" id="SStatus" value="-1" @(Model.SStatus == -1 ? "checked" : "") />
                                不限&nbsp;&nbsp;
                                <input type="radio" name="SStatus" id="SStatus" value="1" @(Model.SStatus == 1 ? "checked" : "") />
                                顯示&nbsp;&nbsp;
                                <input type="radio" name="SStatus" id="SStatus" value="0" @(Model.SStatus == 0 ? "checked" : "") />
                                隱藏&nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="onn2">&nbsp;</td>
                            <td><span class="BTN1"><a href="#"  onclick="goSubmit()">查詢</a></span></td>
                        </tr>
                    </table>
                }  
                @if (Model.Rolses.Contains("ProductC") || Model.Rolses.Contains("Admin"))
                {
                    <span class="BTN1" style="float: right"><a href="~/ProductInfo/Add?page=@Model.Page">新增</a></span>
                    <br />
                    <br />
                }
                <table id="table1" width="100%" border="0" cellspacing="0" cellpadding="0" class="tab2">
                    <tr>
                        <td width="auto" align="center" class="table2_title tbg_1"><a href="~/ProductInfo/List?orderby=@Model.OrderBy&page=@Model.Page&orderfield=t">產品名稱(系列)</a></td>
                        <td width="auto" align="center" class="table2_title tbg_2">產品類型</td>
                        <td width="auto" align="center" class="table2_title tbg_2">引擎分類</td>
                        <td width="auto" align="center" class="table2_title tbg_2">列表圖片</td>
                        <td width="auto" align="center" class="table2_title tbg_2">Banner</td>
                        <td width="auto" align="center" class="table2_title tbg_2">排序</td>
                        <td width="auto" align="center" class="table2_title tbg_2">狀態</td>
                        <td width="auto" align="center" class="table2_title tbg_2">編輯</td>
                        <td width="auto" align="center" class="table2_title tbg_3">刪除</td>
                    </tr>
                    @foreach (var Row in Model.Data)
                    {
                        var pt = (ProductType)Convert.ToInt32(Row.ProductType);
                        var et ="";
                        if (!string.IsNullOrEmpty(Row.EngineId))
                        {
                            et = ((ProductEngineType)Convert.ToInt32(Row.EngineId)).ToString();
                        }
                        <tr>
                            <td align="left" style="word-break: break-all" class="table2_text">@Row.Name</td>
                            <td align="center" class="table2_text">@pt</td>
                            <td align="center" class="table2_text">@et</td>
                            <td align="center" class="table2_text">
                                @if (string.IsNullOrEmpty(Row.Img))
                                {
                                    <img style='width:100px' src="@Url.Content("~/Content/images/default.png")" />

                                }
                                else
                                {
                                    <img style='width:100px' src="@Url.Content("~/File/Get?FileId=" + Row.Img)" />
                                }
                            </td>
                            <td align="center" class="table2_text">
                                @if (string.IsNullOrEmpty(Row.Banner))
                                {
                                    <img style='width:100px' src="@Url.Content("~/Content/images/default.png")" />

                                }
                                else
                                {
                                    <img style='width:100px' src="@Url.Content("~/File/Get?FileId=" + Row.Banner)" />
                                }
                            </td>

                            <td align="center" class="table2_text"><input type="text" class="t2" value="@Row.Orderby" /><input type="hidden" value="@Row.Id" /></td>
                            <td align="center" class="table2_text">@((Row.Status) ? "啟用" : "停用")</td>
                            <td align="center" class="table2_text">
                                @if (Model.Rolses.Contains("ProductU") || Model.Rolses.Contains("Admin"))
                                {
                                    <a href="~/ProductInfo/Edit?id=@Row.Id&page=@Model.Page&Search=@Model.Search&SStatus=@Model.SStatus&ProductType=@Model.ProductType&EngineId=@Model.EngineId"><img src="/manage/images/icon_edit.png" width="21" height="21" class="imgover"></a>
                                }
                            </td>
                            <td align="center" class="table2_text r_line">
                                @if (Model.Rolses.Contains("ProductD") || Model.Rolses.Contains("Admin"))
                                {
                                    <a href="#" onclick="del('/ProductInfo/Delete', '@Row.Id', '@Model.Page')"><img src="/manage/images/icon_delete.png" width="17" height="17" class="imgover"></a>
                                }
                            </td>
                        </tr>
                    } 
                    @if (Model.Rolses.Contains("ProductU") || Model.Rolses.Contains("Admin"))
                    {
                        <tr>
                            <td colspan="9" align="right" class="table2_text r_line"><span class="BTN3"><a href="#" onclick="orderBy()">更新排序</a></span></td>
                        </tr>
                    }
                </table>
                @{
                    Request.RequestContext.RouteData.Values.Add("EngineId", Model.EngineId);
                    Request.RequestContext.RouteData.Values.Add("ProductType", Model.ProductType);
                    Request.RequestContext.RouteData.Values.Add("SStatus", Model.SStatus);
                    Request.RequestContext.RouteData.Values.Add("OrderBy", Model.OrderBy-1);
                    Request.RequestContext.RouteData.Values.Add("Search", Model.Search);
                    Request.RequestContext.RouteData.Values.Add("OrderField", Model.OrderField);
                    @Html.Partial("_Pager", (Begonia.Toyota.WebSite.Models.PagerModel)Model)
                }
            </article>
        </section>
    </article>
</article>

@*@Html.Partial("_ErrorMsg", ViewContext.ViewData)
<p></p>
@using (Html.BeginForm("List", CurrentController, FormMethod.Get, new { @class = "pure-form" }))
{ 
    <div class="pure-u-1-1" style="text-align:right">
        @Html.TextBoxFor(p => p.Search, new { placeholder = "搜尋文字" })
        <input type="submit" class="pure-button" value="查詢" />
    </div>
}
<p></p>
@Html.ActionLink("新增", "add", new { page = Model.Page }, new { @class = "pure-button" })
<p></p>
<table class="pure-table pure-table-bordered" style="width: 100%">
    <thead>
        <tr>
			<th>產品名稱(系列)</th>
			<th>產品次標題</th>
			<th>產品類型</th>
			<th>引擎分類</th>
			<th>列表圖片</th>
            <th>排序</th>
            <th>狀態</th>
			<th style="width:52px"></th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Data != null)
        {
            if (Model.Data.Count == 0)
            {
            <tr class="info">
                <td colspan="8">暫無資料 </td>
            </tr>
            }
            foreach (var Row in Model.Data)
            {
            <tr>
				<td> @Row.Name </td>
				<td> @Row.SubTitle </td>
				<td> @Row.AccessoriesId </td>
				<td> @Row.EngineId </td>
				<td> @Row.Img </td>
                <td> @Row.Orderby </td>
                <td> @Row.Status </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = Row.Id, page = Model.Page }, new { })
                    @Html.ActionLink("刪除", "delete", new { id = Row.Id, page = Model.Page }, new { onclick = "return confirm('確定刪除?');" })
                </td>
            </tr>
            }
        }
        else
        {
            <tr class="info">
                <td colspan="8">暫無資料 </td>
            </tr>
        }
    </tbody>
</table>
<p></p>
@{
    Request.RequestContext.RouteData.Values.Add("Search", Model.Search);
    @Html.Partial("_Pager", (Begonia.Toyota.WebSite.Models.PagerModel)Model)
}*@