@model Begonia.Toyota.WebSite.Models.ContactUsManagerListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string CurrentController = string.Empty;
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        CurrentController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}


<article class="BOX" id="CONTENT_1">
    @{
        Html.RenderPartial("_MenuPartial");
    }

    <article id="RIGHT_BOX" class="CONTENT_R">
        <article id="POS">
            您當前位置是：<a href="#">聯絡我們管理</a> > <a href="~/ContactUsManager/List">聯絡我們管理</a> > <span class="NOW">列表</span>
        </article>
        <nav id="BOX_NAV">
        </nav>
        <section id="R_CONTENT_BOX">
            <article class="RBOX" id="R_CONTENT_1">
                @using (Html.BeginForm("List", CurrentController, FormMethod.Get, new {@class = "pure-form", id = "f1"}))
                {
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab1">
                        <tr>
                            <td width="14%" align="right" class="table1_title onn2">來信日期：</td>
                            <td width="86%" class="table1_text">
                                @Html.TextBoxFor(p => p.SD, new { @class = "t1", id = "datepicker" })
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="table1_title onn2">姓名/電子信箱：</td>
                            <td class="table1_text">
                                @Html.TextBoxFor(p => p.Search, new {placeholder = "搜尋文字", @class = "t1"})
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="table1_title onn2">狀態：</td>
                            <td class="table1_text">
                                <input type="radio" name="SStatus" id="SStatus" value="0" @(Model.SStatus == 1 ? "checked" : "") />
                                不限&nbsp;&nbsp;
                                <input type="radio" name="SStatus" id="SStatus" value="1" @(Model.SStatus == 1 ? "checked" : "") />
                                未回覆&nbsp;&nbsp;
                                <input type="radio" name="SStatus" id="SStatus" value="2" @(Model.SStatus == 2 ? "checked" : "") />
                                已回覆&nbsp;&nbsp;
                                <input type="radio" name="SStatus" id="SStatus" value="3" @(Model.SStatus == 3 ? "checked" : "") />
                                處理完成&nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="onn2">&nbsp;</td>
                            <td><span class="BTN1"><a href="#" onclick="goSubmit()">查詢</a></span></td>
                        </tr>
                    </table>
                }
                @*<span class="BTN1" style="float: right"><a href="~/ContactUsManager/Add?page=@Model.Page">新增</a></span> <br/><br/>*@
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab2">
                    <tr>
                        <td width="15%" align="center" class="table2_title tbg_1"><a href="~/ContactUsManager/List?orderby=@Model.OrderBy&orderfield=n&page=@Model.Page">姓名</a></td>
                        <td width="15%" align="center" class="table2_title tbg_2"><a href="~/ContactUsManager/List?orderby=@Model.OrderBy&orderfield=e&page=@Model.Page">電子信箱</a></td>
                        <td width="15%" align="center" class="table2_title tbg_2">來信日期</td>
                        <td width="15%" align="center" class="table2_title tbg_2">回覆日期</td>
                        <td width="10%" align="center" class="table2_title tbg_2">回覆人員</td>
                        <td width="10%" align="center" class="table2_title tbg_2">狀態</td>
                        <td width="10%" align="center" class="table2_title tbg_2">編輯</td>
                        <td width="10%" align="center" class="table2_title tbg_3">刪除</td>
                    </tr>
                    @foreach (var Row in Model.Data)
                    {
                        <tr>
                            <td align="left" style="word-break: break-all" class="table2_text">@Row.Name</td>
                            <td align="center" class="table2_text">@Row.Email</td>
                            <td align="center" class="table2_text">@Row.CreateDate.ToString("yyyy/MM/dd")</td>
                            <td align="center" class="table2_text">@(Row.AnswerDate.HasValue ? Row.AnswerDate.Value.ToString("yyyy/MM/dd") : "")</td>
                            <td align="center" class="table2_text">@Row.AnswerName</td>
                            <td align="center" class="table2_text">@(Row.Status == 1 ? "未回覆" : (Row.Status == 2 ? "已回覆" : "處理完成"))</td>
                            <td align="center" class="table2_text">
                                @if (Model.Rolses.Contains("ContactU") || Model.Rolses.Contains("Admin"))
                                {
                                    <a href="~/ContactUsManager/Edit?id=@Row.Id&page=@Model.Page&Search=@Model.Search&SStatus=@Model.SStatus&SD=@Model.SD"><img src="/manage/images/icon_edit.png" width="21" height="21" class="imgover"></a>
                                }
                            </td>
                            <td align="center" class="table2_text r_line">
                                @if (Model.Rolses.Contains("ContactD") || Model.Rolses.Contains("Admin"))
                                {
                                    <a href="#" onclick="del('/ContactUsManager/Delete', '@Row.Id', '@Model.Page')"><img src="/manage/images/icon_delete.png" width="17" height="17" class="imgover"></a>
                                }
                            </td>
                        </tr>
                    }
                </table>
                @{
                    Request.RequestContext.RouteData.Values.Add("SD", Model.SD);
                    Request.RequestContext.RouteData.Values.Add("OrderField", Model.OrderField);
                    Request.RequestContext.RouteData.Values.Add("OrderBy", Model.OrderBy - 1);
                    Request.RequestContext.RouteData.Values.Add("Search", Model.Search);
                    Request.RequestContext.RouteData.Values.Add("SStatus", Model.SStatus);
                    @Html.Partial("_Pager", (Begonia.Toyota.WebSite.Models.PagerModel)Model)
                }
            </article>
        </section>
    </article>
</article>

@*@Html.Partial("_ErrorMsg", ViewContext.ViewData)
<p></p>
@using (Html.BeginForm("List", CurrentController, FormMethod.Get, new { @class = "pure-form" }))
{ 
    <div class="pure-u-1-1" style="text-align:right">
        @Html.TextBoxFor(p => p.Search, new { placeholder = "搜尋文字" })
        <input type="submit" class="pure-button" value="查詢" />
    </div>
}
<p></p>
@Html.ActionLink("新增", "add", new { page = Model.Page }, new { @class = "pure-button" })
<p></p>
<table class="pure-table pure-table-bordered" style="width: 100%">
    <thead>
        <tr>
			<th>姓名</th>
			<th>電子信箱</th>
			<th>來信日期</th>
			<th>服務單位</th>
			<th>聯絡電話</th>
			<th>問題描述</th>
			<th>回覆內容</th>
			<th>狀態</th>

			<th style="width:52px"></th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Data != null)
        {
            if (Model.Data.Count == 0)
            {
            <tr class="info">
                <td colspan="9">暫無資料 </td>
            </tr>
            }
            foreach (var Row in Model.Data)
            {
            <tr>
				<td> @Row.Name </td>
				<td> @Row.Email </td>
				<td> @Row.AnswerDate </td>
				<td> @Row.ServiceUnits </td>
				<td> @Row.Tel </td>
				<td> @Row.ProblemInfo </td>
				<td> @Row.Answer </td>
				<td> @Row.Status </td>

                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = Row.Id, page = Model.Page }, new { })
                    @Html.ActionLink("刪除", "delete", new { id = Row.Id, page = Model.Page }, new { onclick = "return confirm('確定刪除?');" })
                </td>
            </tr>
            }
        }
        else
        {
            <tr class="info">
                <td colspan="9">暫無資料 </td>
            </tr>
        }
    </tbody>
</table>
<p></p>
@{
    Request.RequestContext.RouteData.Values.Add("Search", Model.Search);
    @Html.Partial("_Pager", (Begonia.Toyota.WebSite.Models.PagerModel)Model)
}*@