@using Begonia.Toyota.WebSite.Enums;
@model Begonia.Toyota.WebSite.Models.InfoNewsModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string CurrentController = string.Empty;
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        CurrentController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}


<script type="text/javascript">

    function check() {
        var oEditor = CKEDITOR.instances.Detail;//获取editor textarea值 content 是textarea id值
        if ($("#Title").val() != '' && $("#TitleDate").val() != '' && oEditor.getData() != '') {
            goSubmit();
        } else {
            alert("請填入必填項目");
        }
    }
</script>
<article class="BOX" id="CONTENT_1">
    @{
        Html.RenderPartial("_MenuPartial");
    }

    <article id="RIGHT_BOX" class="CONTENT_R">
        <article id="POS">
            您當前位置是：<a href="#">關於台灣豐田管理</a> > <a href="~/InfoNews/List">最新消息</a> > <span class="NOW">新增</span>
        </article>
        <section id="R_CONTENT_BOX">
            <span class="POINT">表示必填項目</span>
            <br />
            <span style="color:red">
                @Html.ValidationMessage("message")
            </span>
            <span class="BACK">@Html.ActionLink("返回", "List", new { page = Model.page }, new { @class = "pure-button" })</span>
            @using (Html.BeginForm(Model.Mode == EditPageMode.Create ? "create" : "update",
                CurrentController, new { page = Model.page }, FormMethod.Post,
                new { enctype = "multipart/form-data", @class = "pure-form pure-form-aligned", id = "f1" }))
            {
                @Html.HiddenFor(p => p.Id)
                @Html.HiddenFor(p => p.CreateId)
                @Html.HiddenFor(p => p.CreateTime)
                @Html.HiddenFor(p => p.Search)
                @Html.HiddenFor(p => p.SD)
                @Html.HiddenFor(p => p.ED)
                @Html.HiddenFor(p => p.SStatus)

                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab1" style="border-top: 1px #cecdcd solid;">
                    <tr>
                        <td width="140px" align="right" class="table1_title onn2"><span class="TP">標題：</span></td>
                        <td class="table1_text">@Html.TextBoxFor(p => p.Title, new { css = "t3", size="50", maxlength = 50 })</td>
                    </tr>
                    <tr>
                        <td width="140px" align="right" class="table1_title onn2"><span class="TP">文章日期：</span></td>
                        <td class="table1_text">@Html.TextBoxFor(p => p.TitleDate, new { css = "t3", id = "datepicker" })</td>
                    </tr>
                    <tr>
                        <td width="140px" align="right" class="table1_title onn2"><span class="TP">列表圖片 建議尺寸700x500：</span></td>
                        <td class="table1_text">
                            @if (!string.IsNullOrEmpty(Model.ListImg))
                            {
                                <a id="imgA" href="@Url.Content("~/File/Get?FileId=" + Model.ListImg)" target="_blank">
                                    <img id="img1" style="width: 100px;" src="@Url.Content("~/File/Get?FileId=" + Model.ListImg)"/>
                                </a>
                            }
                            <img id="img1" style='@(!string.IsNullOrEmpty(Model.ListImg) ? "display:none" : "width:100px;")' src="" />
                            <input type="file" id="ImgFile" name="ImgFile"  onchange="readURL(this,'img1','imgA')" class="pure-input-1-2" />
                            <input type="button" value="移除圖片" onclick="godelimg('ImgFile', 'img1')" class="pure-input-1-2" />
                            @Html.HiddenFor(p => p.ListImg)
                            @Html.ValidationMessageFor(p => p.ListImg, null, new { style = "color:red" })
                        </td>
                    </tr>
                   
                    <tr>
                        <td width="140px" align="right" class="table1_title onn2"><span class="TP">內容：</span></td>
                        <td class="table1_text">@Html.TextAreaFor(p => p.Detail, new { css = "t3", @class = "ckeditor" })</td>
                    </tr>
                    <tr>
                        <td width="140px" align="right" class="table1_title onn2">排序：</td>
                        <td class="table1_text">@Html.TextBoxFor(p => p.Orderby, new { css = "t3" })</td>
                    </tr>
                    <tr>
                        <td align="right" class="table1_title onn2"><span class="TP">狀態：</span></td>
                        <td>
                            <input type="radio" name="Status" id="Status" value="true" @(Model.Status ? "checked" : "") />
                            上線&nbsp;&nbsp;
                            <input type="radio" name="Status" id="Status" value="false" @(!Model.Status ? "checked" : "") />
                            隱藏&nbsp;&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td width="140px" align="right" class="table1_title onn2">上稿時間：</td>
                        <td class="table1_text">
                            @Model.CreateTime
                        </td>
                    </tr>
                    <tr>
                        <td align="right" class="onn2">&nbsp;</td>
                        <td><span class="BTN3"><a href="#"  onclick="check()">確定送出</a></span></td>
                    </tr>
                </table>
            }
        </section>
    </article>

</article>

@*@Html.ActionLink("回上頁", "List", new { page = Model.page }, new { @class = "pure-button" })
<p>
@Html.ValidationMessage("message")
</p>

@using (Html.BeginForm(Model.Mode == EditPageMode.Create ? "create" : "update",
    CurrentController, new { page = Model.page }, FormMethod.Post,
    new { enctype = "multipart/form-data", @class = "pure-form pure-form-aligned" }))
{
	<fieldset>


		<div class="pure-control-group">
			@Html.LabelFor(p => p.Title)
			@Html.TextBoxFor(p => p.Title, new { @class = "pure-input-1-2" })
			@Html.ValidationMessageFor(p => p.Title)
		</div>

		<div class="pure-control-group">
			@Html.LabelFor(p => p.TitleDate)
			@Html.EditorFor(p => p.TitleDate)
			@Html.ValidationMessageFor(p => p.TitleDate)
		</div>

		<div class="pure-control-group">
			@Html.LabelFor(p => p.ListImg)
			@Html.TextBoxFor(p => p.ListImg, new { @class = "pure-input-1-2" })
			@Html.ValidationMessageFor(p => p.ListImg)
		</div>

		<div class="pure-control-group">
			@Html.LabelFor(p => p.ListIntro)
			@Html.TextBoxFor(p => p.ListIntro, new { @class = "pure-input-1-2" })
			@Html.ValidationMessageFor(p => p.ListIntro)
		</div>

		<div class="pure-control-group">
			@Html.LabelFor(p => p.Detail)
			@Html.TextAreaFor(p => p.Detail, new { @class = "pure-input-1-2" })
			@Html.ValidationMessageFor(p => p.Detail)
		</div>

		<div class="pure-control-group">
			@Html.LabelFor(p => p.Orderby)
			@Html.TextBoxFor(p => p.Orderby, new { @class = "pure-input-1-3" })
			@Html.ValidationMessageFor(p => p.Orderby)
		</div>

		<div class="pure-control-group">
			@Html.LabelFor(p => p.Status)
			<label for="Status" class="pure-radio">
				@Html.RadioButtonFor(p => p.Status, "True") 是&nbsp;
				@Html.RadioButtonFor(p => p.Status, "False") 否&nbsp;
			</label>
			@Html.ValidationMessageFor(p => p.Status)
		</div>

		<div class="pure-control-group">
			@Html.LabelFor(p => p.CreateTime)
			@Model.CreateTime
			@Html.HiddenFor(p => p.CreateTime)
		</div>

		<div class="pure-control-group">
			@Html.LabelFor(p => p.CreateId)
			@Model.CreateId
			@Html.HiddenFor(p => p.CreateId)
		</div>



		<div class="pure-control-group">
            <label></label>
            @if (Model.Mode == EditPageMode.Create)
            {
                <input type="submit" value="新 增" class="pure-button" />
            }
            else if (Model.Mode == EditPageMode.Update)
            {
                <input type="submit" value="修 改" class="pure-button" />
            }

        </div>
	</fieldset>
}*@